extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Mitchell Reddoch

        //- Feel free to personalize the title below
        p Full Stack JavaScript and Python Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p My combined experience as an IT technician and a newer programmer creates a unique synergy. On one hand, my IT background 
          equips me with a strong grasp of system functionalities, while my programming skills allow me to automate tasks and build custom 
          solutions. This combination empowers me to solve problems from both a technical and programmatic perspective.


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 505-814-9931
          li email@email.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/mitchellreddoch/') LinkedIn
        a.btn-link(href='https://www.github.com/in/mitchreddoch') GitHub
        a.btn-link(href='https://studio.youtube.com/channel/UCdiV9suITy_wMyz35njfWQQ') Youtube

    nav.nav
      a(href='/')
        span &larr;
        |  Back