extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Mitchell Reddoch

        p Full Stack JavaScript Developer


        .about-bio

          p. 
            My combined experience as an IT technician and a newer programmer creates a unique synergy. On one hand, my IT background 
            equips me with a strong grasp of system functionalities, while my programming skills allow me to automate tasks and build custom 
            solutions. This combination empowers me to solve problems from both a technical and programmatic perspective.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li DOM
          li Forms 
          li Data Cleaning
          li Random Numbers
          li Conditional Statements
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 505-814-9931
          li mitch77redd@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/mitchellreddoch/') LinkedIn
        a.btn-link(href='https://www.github.com/mitchredd77') GitHub
        a.btn-link(href='https://studio.youtube.com/channel/UCdiV9suITy_wMyz35njfWQQ') Youtube

    nav.nav
      a(href='/')
        span &larr;
        |  Back